[Unit]
Description=Door Opener Webhook Listener
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/root/open_door/
ExecStart=/root/open_door/venv/bin/python3 openDoorServer.py
Restart=on-failure

[Install]
WantedBy=multi-user.target